---
import BaseLayout from '../../layouts/Layout.astro';
import TagList from '../../components/TagList.astro';
const pageTitle = "Tag Index";
---
<BaseLayout pageTitle={pageTitle}>
<h1>Tags</h1>
Below you can find tags to navigate to Topics. <br><br>
<TagList></TagList>
</BaseLayout>
