<nav>
    <ul>
        <li><a href="/"><img src="/favicon.svg" height="16px" /> Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/blog/">Blog</a></li>
    </ul>
    
</nav>
<style>
    nav {
        background-color: #000111; 
        position: sticky;
        top: 0;
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000111;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #002e34;
}
</style>