---
const pageTitle = "Search"; 
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';


---

<Layout pageTitle={pageTitle}>
	
	<h1>Search not available</h1>
    <p>Search is currently still in devellopment and therefore not available!</p>

</Layout>
