---
const pageTitle = "Search"; 
import Layout from '../layouts/Layout.astro';
import TagList from '../components/TagList.astro';
---

<Layout pageTitle={pageTitle}>
	
	<h1>Search not available</h1>
    <p>Search is currently still in devellopment and therefore not available!</p>

    Tags:<br><br>
    <TagList />
</Layout>
